.single_pose_div {
    padding-top: 100px;
}

.pose_title_text {
    text-align: center;
    color: white;
}

.navbar-change {
    display:block;
    background-color:#260133;
}

.gif-image {
    height: 50%;
    width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}