.falo {
  width: 1435px !important;
  height: 813px !important;
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

#title {
  color: white;
}
