.falo {
  width: 1435px !important;
  height: 813px !important;
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.title {
  color: white;
  padding-left: 10px;
  text-align: center;
}

#navbar-custom {
  background-color: #600680;
}

.nav-text {
  color: white;
  font-family: 'Montserrat', sans-serif;
}

.nav-text-title {
  color: white;
  font-family: 'Montserrat', sans-serif;
}

.abstract {
  color: white;
  font-family: 'Montserrat', sans-serif;
  padding-left: 10px;
  padding-right: 10px;
}

#game-div {
  padding-left: 20px;
}

#yt-vid {
  width: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
